&i2c0 {
        gas_sensor: ccs811@5a {
                status = "okay";
                compatible = "ams,ccs811";
                reg = <0x5a>;
                irq-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
                wake-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
                reset-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
                zephyr,deferred-init;
        };
};
